.container {
  border: 1px solid lightgrey;
  width: 60%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding: 40px;
}

.container h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 30px;
}
